body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: purple;
	color: yellow;
}

.container {
	width: 100%;
	height: 100%;
	/*background-color: black;*/
}

.left{
    width: 25%;
    height: 90%;
    float: left;
    display: block;
    /*background-color: red;*/
    border-collapse: collapse;
}

.middle {
    width: 75%;
    height: 90%;
    float: left;
    /*background-color: blue;*/
    border-collapse: collapse;
}

.right {
	width: 0%;
	height: 0%;
	position: relative;
	float: right;
	background-color: yellow;
	border-collapse: collapse;
}

.top {
	width: 100%;
	height: 10%;
	border-collapse: collapse;
	/*background-color: green;*/
}
.chat_head {
	width: 100%;
	height: 10%;
	background-color: yellow;
	color: purple;
	border: 1px solid purple;
	font-size: 20px;
	border-radius: 20px;
}
.chat_head:hover {
	width:100%;
	height:15%;
	background-color: green;
	color: white;
	font-size: 30px;
	border-color: purple;
	border-radius: 30px;
}
div#chatbox{
	width: 100%;
	height: 100%;
	overflow: auto;
	margin-bottom: 40px;
	padding-top: 40px;
	background-image: url("purple_paper.jpg");
	background-size: 100%;
	background-repeat: repeat;
	background-attachment: fixed;
}
h1.Chat_Name{
	width: 100%;
	text-align: center;
	margin: 0px;
	position: fixed;
}
div.footer{
	position: fixed;
	margin-left: 10px;
	bottom: 0%;
	right: 0%;
	height: 40px;
	width:100%;
	margin: 0px auto;
}
textarea.chat_msg{
	position: fixed;
	bottom:0px;
	left:0px;
	margin: 0px;
	width: 90%;
	height: 40px;
}
input.send{
	position: fixed;
	margin-left: 10px;
	bottom: 00px;
	right:0%;
	width: 8%;
	height: 40px;
}
p.sent{
	margin: 0px;
	color: deepskyblue;
	font-size: 30px;
}
p.recieved{
	margin: 0px;
	color: yellow;
	display: block;
	font-size: 30px;
}
div.headBox{
	background-color: yellow;
	border-top: 10px solid yellow;
	border-right: 10px solid yellow;
	border-left: 10px solid yellow;
	border-bottom: 3px solid grey;
	border-radius: 5%;
}
h2.chatName{
	color: black;
	/*display: inline;*/
	text-align: center;
	margin: 0px auto;
	padding-bottom: 3px;
}
p.newMsg{
	color: black;
	display: inline;
}
p.lastChat{
	color: grey;
	margin: 0px auto;
	text-align: center;
}